
@media screen and (max-width:1120px){
    


header {
    flex-direction: column;
}
main {
    flex-direction: column;
    text-align: center;
}
h2 {
    font-size: 40px;
}
p {
    padding: 10px;
}
form {
   width: 100%;
   margin: 0 auto;
   
}

input {
    align-items: center;
}

img {
    width: 70%;
    margin-top: 70px;
}

ul {
    text-align: center;
}
}